* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0b0b0b;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0 0;
}
.audio-player-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    max-width: 640px;
    background: #9c4b59;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 100px;
    background-color: #171717;
}
.song-progress {
    flex: 3; 
    display: block;
    padding: 0 20px;
}
.time {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #fff;
    width: 100%;
    font-size: 16px;
}
.current-time {
    width: 7px;
    text-align: center;
}
.total-time {
    width: 7px;
    text-align: center;
    padding-right: 30px;
}
.volume-bar {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    margin-top: 21px;
}
.track-image {
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 640px;
}
.play-icon {
    font-size: 20px;
    width: 50px;
    height: 50px;
    transition: 0.1s ease;
}
path {
    stroke: #ffffff;
}
.info-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    max-width: 640px;
    padding: 20px;
    background-color: #171717;
}
.info-left {
    flex: 1; 
    font-size: 24px;
}

.info-right {
    flex: 0; 
    margin-left: 10px; 
    transition: 0.1s ease;
    border-radius: 50%;
}
.info-right:hover,
.info-right:active {
    transform: scale(1.1);
    background-color: rgb(65, 65, 65);
}
.track-name {
    color: #fff;
    margin-bottom: 5px;
}
.artist-name {
    color: #ececec;
}

.volume-slider {
    width: 100%;
    background-color: transparent;
}
.volume-slider::-webkit-slider-runnable-track {
    background: #9d9d9d;
    border-radius: 5px;
}
.volume-slider::-moz-range-track {
    background: #9d9d9d;
    border-radius: 5px;
}
.volume-slider::-ms-fill-upper {
    background: #9d9d9d;
    border-radius: 5px;
}
.volume-slider::before {
    width: var(--volume-before-width);
}
.volume-output {
    position: absolute;
    top: 25px;
    left: 0px; 
    display: none; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 4px;
}
.volume-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.volume-button:hover,
.volume-button:active {
    transform: scale(1.1);
    background-color: rgb(65, 65, 65);
}
.mute-icon {
    width: 40px;
    height: 40px;
    font-size: 18px;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 5px;
    outline: none;
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #9d9d9d;
    border-radius: 10px;
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    width: var(--seek-before-width);
    height: 5px;
    background-color: #22ff4e;
    cursor: pointer;
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.0);
    background: transparent;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #9d9d9d;
    border-radius: 50%;
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
    border-radius: 50%;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #18b500;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #616161;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(2.2);
    background-color: #616161;
    border-radius: 50%;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
    background: #9d9d9d;
    border-radius: 10px;
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    background-color: #616161;
    cursor: pointer;
    border-radius: 50%;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background-color: #616161;
    border-radius: 50%;
}

@media screen and (max-width: 578px) {
    .info-left {
        font-size: 20px;
    }
    .play-icon {
        width: 45px;
        height: 45px;
    }
    .song-progress {
        flex: 2.5; 
    }
    .time {
        font-size: 14px;
    }
    .total-time {
        padding-right: 26px;
    }
}

@media screen and (max-width: 420px) {
    .info-left {
        font-size: 16px;
    }
    .play-icon {
        width: 40px;
        height: 40px;
    }
    .song-progress {
        padding: 0 10px;
        flex: 2.2; 
    }
    .volume-bar {
        padding: 0 10px;
    }
}